body
{
    font-family: "楷体", serif ;
}

a
{
    text-decoration: none;
    color:black;
}

a:hover
{
    color:dodgerblue;
}

h2
{
    color: darkred;
    background: bisque;
    border-radius: 24px;
}

dt
{
    font-size: 20px;
    color: red;
}
.soft
{
    font-weight: bold;
    font-size: 15px;
    color: blue;
}
.hard
 {
    font-weight: bold;
    font-size: 15px;
    color: black;
 }

div
{
    width:500px;
    height:200px;
    background: linear-gradient(5deg, coral, antiquewhite 100%);
}